<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
	<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <connectionStrings>
    <add name="SQLServerConnectionString" connectionString="Data Source=localhost; Initial Catalog=CEOnmnnlineLocal; Integrated Security=false; User Id=ceonline; Password=ceonline;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="serverHost" value="gateway-sb.clearent.net" />
    <add key="transactionEndpoint" value="/rest/v2/transactions" />
    <add key="ach-transaction-endpoint" value="/rest/v2/ach/transactions" />
    <add key="polling-interval-minute" value="60" />
    <add key="api-key-token-length" value="32" />
    <add key="trust-any-SSL-certificate" value="true" /><!-- TRUE only for Debug Mode -->
    <add key="sendMailApiKey" value="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"/>
    <add key="sendMailFrom" value="ceonline@ceonline.ntrlab.com"/>
    <add key="mailSubjectTemplate" value="Good News! You just got paid {{amount}} from {{customer name}}"/>
    <add key="mailBodyTemplate" value="You just received a payment on invoice #{{invoice number}} in the amount of {{amount}}.&#xD;&#xA;&#xD;&#xA;For more information, you can click here to view the transaction within Clearent: https://vt.clearent.net/#/transactionDisplay{{ACH}}?id={{transaction id}}&#xD;&#xA;&#xD;&#xA;Or, click here to log into Clear Estimates and go to &quot;Reports&quot; then &quot;Cost Status&quot; to view the invoice and payment information.&#xD;&#xA;&#xD;&#xA;Keep up the good work!&#xD;&#xA;&#xD;&#xA;Jack Dean&#xD;&#xA;Clear Estimates Inc. | Customer Success&#xD;&#xA;800-540-3935"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
