<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <connectionStrings xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <add name="SQLServerConnectionString" xdt:Locator="Match(name)"  xdt:Transform="SetAttributes(connectionString)" connectionString="Data Source=localhost; Initial Catalog=CEOnlineLocal; Integrated Security=false; User Id=ceonline; Password=ceonline;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
