<h4 class="h4 ce-text-bold">Your request to upgrade has been sent to the support team</h4>
<p class="lead" style="margin-bottom:40px">Our support team will get back to you as soon as possible to help you!</p>
<div class="ce-text-centered">
    <a href="@Url.Action("Index", "Home")" class="k-button ce-btn-icon"><span class="k-icon k-i-check-circle _icn-md _success _left"></span>Close</a>
</div>

